* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, mimmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
    "header header message"
    "blog blog message"
    "footer footer message";
}

.grid-elem {
    background-color: blue;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}

.orange {
    background-color: orange;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, mimmax(100px, auto));
        grid-template-areas:
        "header header"
        "blog blog"
        "message message"
        "footer footer";
    }
}

#header {
    grid-area: header;
}

#blog {
    grid-area: blog;
}

#message {
    grid-area: message;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



/* 
.grid-container {
   margin: 82px auto 0 auto;
   width: 1140px;
   display: grid;
   grid-template-columns: repeat(3, 240px);
   grid-template-rows: repeat(3, minmax(260px, auto));
   grid-template-columns: [col1-s] 150px [col2-s] 150px [col3-s] 150px;
   gap: 60px;
   grid-auto-rows: 260px;
}

.item__title {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.item__img {
    width: 100%;
}

#first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: col1-s/col3-s;
}

#second {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
}

#thid {
    grid-row-start: 2;
    grid-row-end: 4;
} */