* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
   margin: 82px auto 0 auto;
   width: 1140px;
   display: grid;
   grid-template-columns: repeat(4, 240px);
   grid-template-rows: repeat(2, minmax(260px, auto));
   gap: 60px;
   grid-auto-rows: 260px;
}

.item__title {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.item__img {
    width: 100%;
}